<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="ac:route" content="/">
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new
    Date().getTime(),event:'gtm.js'});var
    f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NS67S89');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Required meta tags -->
  <title>Wappler starter page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!-- Custom CSS styles-->
  <link rel="stylesheet" href="/css/style.css">


  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/fontawesome6/css/all.min.css" />
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
</head>

<body is="dmx-app" id="index">
  <script>
    <!-- Google Tag Manager (noscript) 
    -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS67S89" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  </script>
  <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <div class="container">
        <img src="/assets/OMIEX_Logo_291x65_light.png" class="h-auto w-auto img-fluid">
        <button class="navbar-toggler text-start" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarNav"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
  <header id="page-header" class="pb-md-5 pb-5 pb-lg-0">
    <div class="container">
      <div class="row">
        <div id="header-text" class="order-2 order-sm-2 order-md-1 col-12 col-sm-12 col-md-7 col-lg-6">
          <h1 class="display-4">Low-code solutions for the finance, web3 and crypto industries.</h1>
          <p class="lead">Our company specializes in using no-code and low-code tools to deliver fast, flexible and custom solutions for streamlined software development&nbsp;</p>
          <button type="button" class="btn btn-light">Learn More</button>
        </div>
        <div id="header-img" class="order-1 order-sm-1 order-md-2 col-12 col-sm-12 col-md-5 col-lg-6"> <img class="img-fluid" src="http://via.placeholder.com/800x533"> </div>
      </div>
    </div>
  </header>
  <section id="features" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title">Services</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-address-book fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">Web and mobile application</h5>
          <p class="text-muted">We use cutting-edge no-code and low-code tools like Bubble.io and Wappler to create fast, scalable and user-friendly web and mobile applications. Whether you need a custom app or an e-commerce platform, we have you covered.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-cloud fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">Rapid prototyping and MVP development</h5>
          <p class="text-muted">Our team can help you quickly turn your ideas into prototypes and minimum viable products (MVPs) using low-code and no-code tools. Whether you need a prototype to test your concept or an MVP to validate your market, we have the experience to make it happen.</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-area-chart fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">APIs Integrations and other third-party tools</h5>
          <p class="text-muted">Our team can help you integrate APIs and other third-party tools into your platform or app to enhance functionality and improve performance. Whether you need to connect to a payment gateway, a data analytics tool or a machine learning algorithm, we have the expertise to make it happen.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-bolt fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">Blockchain and web3-based applications</h5>
          <p class="text-muted">Our team specializes in the development of blockchain and web3-based applications that are fast, secure and user-friendly. Whether you need a decentralized app (dapp), a smart contract solution or a blockchain-based platform, we have the experience to make it happen.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-cog fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">Cryptocurrency and digital asset platform development</h5>
          <p class="text-muted">Our team can help you create custom cryptocurrency and digital asset platforms that meet the specific needs of your business. Whether you need an exchange, a wallet or a trading platform, we have the experience to make it happen.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-database fa-4x text-muted visually-hidden" aria-hidden="true"></i>
          <h5 class="text-info">Financial management software solutions</h5>
          <p class="text-muted">We can help you streamline your financial management processes with custom software solutions. Whether you need a real-time data tracking system, a financial reporting solution or a tool to automate your workflow, we have the expertise to make it happen.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="screenshots" class="bg-light">
    <div class="container-fluid px-lg-0 px-3">
      <div class="row align-items-center px-lg-0 g-0">
        <div class="col-12 col-lg-4 mx-auto order-lg-2 mb-3">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud officia deserunt mollit exercitation.</p>
          <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna ultrices accumsan.</p>
          <button type="button" class="btn btn-primary">Learn More</button>
        </div>
        <div class="col-12 col-lg-6 order-lg-1"> <img class="img-fluid" src="http://via.placeholder.com/1400x900"> </div>
      </div>
      <div class="row align-items-center px-lg-0 g-0">
        <div class="col-12 col-lg-4 mx-auto order-lg-1 mb-3">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud officia deserunt mollit exercitation.</p>
          <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna ultrices accumsan.</p>
          <button type="button" class="btn btn-primary">Learn More</button>
        </div>
        <div class="col-12 col-lg-6 order-lg-2"> <img class="img-fluid" src="http://via.placeholder.com/1400x900"> </div>
      </div>
    </div>
  </section>
  <section id="faq" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h2>FAQs</h2>
          <p class="lead">Not sure how this app works?</p>
          <p class="text-muted">Here are the answers to some of the most common questions we hear from our appreciated customers</p>
        </div>
        <div class="col-12 col-md-8">
          <ul class="list list-unstyled">
            <li>
              <h5 class="bold">Cras elementum efficitur volutpat?</h5>
              <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
            </li>
            <li>
              <h5 class="bold">Fusce faucibus feugiat faucibus?</h5>
              <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
            </li>
            <li>
              <h5 class="bold">Fusce at mauris elementum?</h5>
              <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
            </li>
            <li>
              <h5 class="bold">Ut vel augue ut neque lobortis semper?</h5>
              <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer id="page-footer" class="bg-dark">
    <div class="container"> <span class="text-muted">Copyright Your Name</span> </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>