<!-- Wappler include is="dmx-app" id="termsconditions" appConnect="local" bootstrap5="materia" bootstrap_icons="local" fontawesome_5="local" moment_2="local" jquery_slim_35="local" -->
<meta name="ac:route" content="/terms-conditions">
<main>
    <div class="container">
        <div class="row">
            <div class="col">

                <h1>Fancy display heading</h1>
                <p>A nice paragraph</p>
            </div>
        </div>
    </div>
</main>